.app{
  width:400px;
  height:400px;
  background-color: rgb(244, 239, 245);
  margin:auto;
  margin-top: 30px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:16px;
}
.calculater{
  width:200px;
  height:200px;
  background-color: rgb(83, 70, 109);
 margin: auto;
 margin-top: 40px;

}
.show {
  max-width:200px   ;
  height:30px;
  background-color: mintcream;
  margin-top:20px;
}
.sp{
  float: right;
  overflow: hidden;
}
.operator{
  display:flex;
}
.operator button{
  flex:1 1 0%;
  background-color: palevioletred;
  font-weight: bold;
  outline: none;
  border:none;
  cursor:pointer;
}
.operator button:hover{
  background-color: purple;
}
.digits{
  display:flex;
  flex-wrap: wrap;
  height:200px;
}
.digits button{
  flex :1 1 33.333333%;
  max-width:33.3333333%;
  background-color: rgb(47, 58, 52);
  font-weight: bold;
  outline:none;
  border:none;
  cursor:pointer;
}
.digits button:hover{
  background-color: tomato;
}

